body {

    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
 .div, img{
    
    filter: saturate(0%);
    width: 10%;
    border: 2px solid seashell;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: all ease 0.4s;
    cursor: wait;
}
.div, img:hover{
    filter: saturate(100%);
    width: 30%;
    box-shadow: 0 0 20px #00fffc, 0 0 40px #00fffc, 0 0 60px #00fffc;
}

h1 {
    color: rgb(16, 16, 255);
    font-family: "Silkscreen", serif;
}

.klik-juga {
    text-align: left;
    margin-bottom: 1px;
    margin-top: 16px;
}

.klik-juga:hover {
    transform: rotateY(20deg);
    transition: ease-in .1s;
}

